@import url('https://rsms.me/inter/inter-ui.css');

.containers{
  display: inline-block;
  position: relative;
}
.index {
  cursor: pointer;
  display: inline;
  margin-right: 30px;
  padding: 5px;
  user-select: none;
  -moz-user-select: none;
}
.index:last-child {
  margin: 0;
}
.svgPagination {
  left: -13px;
  position: absolute;
  top: -11px;
  transition: transform 500ms;
  width: 46px;
}
.pathPagination {
  fill:none;
  stroke:#eac7cc;
  stroke-dasharray: 150 150;
  stroke-width:15;
}
.containers.open:not(.flip) path {
  animation: OpenRight 500ms;
}
.containers.open.flip path {
  animation: OpenLeft 500ms;
}
.containers.i1 svg {
  transform: translateX(0);
}
.containers.i2 svg {
  transform: translateX(50px);
}
.containers.i3 svg {
  transform: translateX(102px);
}
.containers.i4 svg {
  transform: translateX(154px);
}
.containers.i5 svg {
  transform: translateX(206px);
}
@keyframes OpenRight {
  25% { stroke-dasharray: 100 150; }
  60% { stroke-dasharray: 100 150; }
  100% { stroke-dasharray: 150 150; }
}
@keyframes OpenLeft {
  25% { stroke-dashoffset: -50px; }
  60% { stroke-dashoffset: -50px; }
  100% { stroke-dashoffset: 0; }
}